version: "3.3"

services:
    server:
        build: ./server/
        ports:
        - 102:102
        volumes:
            - ./server/logs:/usr/local/var/log/suricata/
            - ./server/suricata/rules:/usr/src/suricata/rules
        networks:
            dev:
                aliases:
                - server.dev
    client:
        build: ./client/
        networks:
            dev:
                aliases:
                - client.dev
        depends_on:
        - server
        networks:
        - dev
networks:
  dev:
    external:
      name: dev
